html {
  overflow-x: hidden;
}
body,
section,
p,
article,
aside,
header,
footer,
address,
a,
ul,
li,
ol,
dd,
dt,
table,
form {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
}
body {
  background-color: #c5daea;
}
ul {
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #113450;
  border-style: solid;
  border-radius: 2em;
  border-color: white;
}
.before-map a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 2em;
  background-color: #c5daea;
  color: black;
}

.before-map a:hover {
  display: block;
  background-color: #333;
  border-style: solid;
  border-radius: 2em;
  border-color: white;
  color: white;
}

.subsec h3 {
  text-align: center;
}

.appetizer {
  display: block;
  color: white;
  margin-bottom: 1em;
}

.pizza {
  display: block;
  color: white;
  margin-bottom: 1em;
}

.BYO {
  display: block;
  color: white;
  margin-bottom: 1em;
}

.method {
  display: block;
  color: white;
  margin-bottom: 1em;
}

.calc {
  display: block;
  color: white;
  margin-bottom: 1em;
}
#order {
  font-size: 2em;
}
.masthead {
  color: black;
  grid-area: masthead;
  text-align: center;
}
.navbar {
  background: #589ad6;
  color: black;
  grid-area: navbar;
  margin: 0.5em;
  padding: 0.5em;
}
.mainsec {
  background: #589ad6;
  color: white;
  grid-area: mainsec;
  margin: 0.5em;
  padding: 0.5em;
  max-width: 100%;
}
.subsec {
  background: #589ad6;
  color: white;
  grid-area: subsec;
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
}
#results {
  background: #c5daea;
  font-size: 2em;
  align-items: center;
  color: black;
}
.sidebar {
  background-color: #589ad6;
  color: white;
  grid-area: sidebar;
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa {
  font-size: 100em;
  text-decoration: none;
  background-color: transparent;
  padding: 0.5em;
}
.fa:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5em;
}
.fa-facebook {
  color: white;
}
.fa-instagram {
  color: white;
}
.footer {
  color: silver;
  grid-area: footer;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}
footer li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-radius: 2em;
  border-color: white;
}
#bing-map {
  position: static;
  width: auto;
  height: 400px;
  margin-top: 20px;
}
.wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto;
}
input {
  width: 3em;
}

#btn-estimate {
  width: auto;
}
img {
  padding-top: 10px;
  max-width: 300px;
}
input[type="submit"] {
  padding: 5px 15px;
  background-color: #c5daea;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}
.subsec .gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 900px) {
  .wrapper {
    grid-template-columns: 2, 1fr;
    grid-template-areas:
      "masthead masthead"
      "navbar sidebar"
      "mainsec subsec"
      "footer footer";
  }
}
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "masthead"
      "navbar"
      "mainsec"
      "subsec"
      "sidebar"
      "footer";
  }
}

@media (max-width: 344px) {
  li {
    float: none;
  }
}
